<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="description" content="CaseRecommendation"/>
    <meta name="author" content="freeCoding"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'/>
    <!-- Library CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{css/fonts/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{css/superfish.css}" rel="stylesheet"/>
    <link th:href="@{css/animations.css}" rel="stylesheet"/>
    <link th:href="@{css/settings.css}" rel="stylesheet"/>
    <link th:href="@{css/prettyPhoto.css}" rel="stylesheet"/>
    <!-- Theme CSS -->
    <link th:href="@{css/style.css}" rel="stylesheet"/>
    <!-- Skin -->
    <!--<link th:href="@{css/colors/blue.css}" rel="stylesheet"/>-->
    <!-- Responsive CSS -->
    <link th:href="@{css/theme-responsive.css}" rel="stylesheet"/>
    <!-- Switcher CSS -->
    <link th:href="@{css/switcher.css}" rel="stylesheet"/>
    <link th:href="@{css/spectrum.css}" rel="stylesheet"/>
    <!-- Favicons -->
    <link th:href="@{img/ico/favicon.ico}" rel="shortcut icon"/>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--<link rel="shortcut icon" type="/image/png" th:href="@{img/favicon.ico}"/>-->

    <!---->
    <!--<link th:href="@{css/bootstrap.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{css/animate.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{js/jquery-3.2.1.js}" type="text/javascript"></script>-->
    <!--<script th:src="@{js/bootstrap.js}" type="text/javascript"></script>-->
    <!--<script th:src="@{js/jquery-3.2.1.js}" type="text/javascript"></script>-->

    <script th:src="@{js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.parallax.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.themepunch.revolution.min.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.nivo.slider.pack.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.prettyPhoto.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery.gmap.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{js/modernizr-2.6.2.min.js}" type="text/javascript"></script>
    <script th:src="@{js/superfish.js}" type="text/javascript"></script>
    <script th:src="@{js/tweetMachine.js}" type="text/javascript"></script>
    <script th:src="@{js/tytabs.js}" type="text/javascript"></script>
<!--//tab-->
    <script th:src="@{js/jquery.sticky.js}" type="text/javascript"></script>
    <script th:src="@{js/jflickrfeed.js}" type="text/javascript"></script>
    <script th:src="@{js/imagesloaded.pkgd.min.js}" type="text/javascript"></script>
    <script th:src="@{js/waypoints.min.js}" type="text/javascript"></script>
    <script th:src="@{js/spectrum.js}" type="text/javascript"></script>
    <script th:src="@{js/switcher.js}" type="text/javascript"></script>
    <script th:src="@{js/custom.js}" type="text/javascript"></script>
</head>
<body>

</body>

<!-- Footer Start -->
<footer th:fragment="footer" th:id="footer">
    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="pull-left">
                &copy; FreeCoding-R
            </div>
            <div class="pull-right">
                <ul class="social social-icons-footer-bottom pull-left">
                    <li class="facebook"><a href="#" data-toggle="tooltip" title="Facebook"><i
                            class="icon-facebook"></i></a></li>
                    <li class="twitter"><a href="#" data-toggle="tooltip" title="Twitter"><i
                            class="icon-twitter"></i></a></li>
                    <li class="dribbble"><a href="#" data-toggle="tooltip" title="Dribble"><i
                            class="icon-dribbble"></i></a></li>
                    <li class="linkedin"><a href="#" data-toggle="tooltip" title="LinkedIn"><i
                            class="icon-linkedin"></i></a></li>
                    <li class="rss"><a href="#" data-toggle="tooltip" title="Rss"><i class="icon-rss"></i></a>
                    </li>
                </ul>
                <div id="search-form" class="pull-right hidden-xs" style="margin-left: 15px;margin-top: 3px;">
                    <form action="#" method="get">
                        <input type="text" class="search-text-box"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</footer>
<!-- Footer End -->
</html>