<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="components/components :: head"/>
<head>
    <title>500错误</title>
    <!--<style>-->
    <!--.myFont{font-family: 华文细黑}-->
    <!--</style>-->
</head>
<body>
<div>
    <!-- Content Start -->
    <header th:replace="components/components :: header"/>
    <div id="main">
        <!-- Title, Breadcrumb Start-->
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title">服务器程序出现了异常，程序猿正努力抢救。。。</h2>
                    </div>

                </div>
            </div>
        </div>
        <!-- Title, Breadcrumb End-->
        <!-- Main Content start-->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="not-found">
                            <h2>500 <i class="icon-question-sign"></i></h2>
                        </div>
                        <div class="back-home">
                            <p>你请求的页面程序出错正在维修，你可以<br/>
                                <a href="/">点这里</a>回到之前的页面
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content end-->
    </div>
    <!-- Content End -->
    <footer th:replace="components/components :: footer"></footer>
</div>
<section th:replace="components/components :: style-switcher"></section>
</body>
</html>
