<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/components/components :: head">
</head>
<head>
    <title>CaseRecommendation Case Page</title>
    <script th:src="@{/js/echarts.min.js}" type="text/javascript"></script>
    <!--<link th:href="@{css/colors/blue.css}" rel="stylesheet" id="colors"/>-->
</head>
<body th:if="${sucess}" class="shortcodes">
<div class="wrap">
    <!-- Header -->
    <header th:replace="/components/components :: header"/>
    <!-- Content Start -->
    <div id="main">
        <!--&lt;!&ndash; Title, Breadcrumb Start&ndash;&gt;-->
        <!--<div class="breadcrumb-wrapper">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">-->
                        <!--<h2 class="title">法案信息提取</h2>-->
                    <!--</div>-->
                    <!--<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">-->
                        <!--<div class="breadcrumbs pull-right">-->
                            <!--<ul>-->
                                <!--<li>当前路径:</li>-->
                                <!--<li>-->
                                    <!--<a href="/">主页</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">法案</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- Title, Breadcrumb End-->
        <!-- Main Content start-->
        <div class="content">
            <div class="container">

                <!--tap here-->

                <div class="row">
                    <div class="col-lg-12 col-md-6 col-xs-12 col-sm-6 ">
                        <!-- Tab Start -->
                        <h3 class="title">案件信息</h3>
                        <div class="widget tabs">
                            <div id="horizontal-tabs">
                                <ul class="tabs">
                                    <li th:each="name:${content.keySet()}" th:id="'tab'+${name}">
                                        <h3 th:text="${name}"></h3>
                                    </li>
                                </ul>
                                <div class="contents">
                                    <div th:each="name:${content.keySet()}" th:id="'content'+${name}" class="tabscontent">
                                        <div th:if="${content.get(name).getClass() eq name.getClass()}">
                                            <!--&lt;即小于，小于15个字的文本居中显示-->
                                            <p th:each='line:${content.get(name).split("\n")}' th:text="${line}"
                                               th:class="${line.replaceAll(' ', '').length() &lt; 20}? 'text-center' : 'text-left'">
                                            </p>
                                        </div>
                                        <div th:if="${content.get(name).getClass() ne name.getClass()}">
                                            <p th:each="item:${content.get(name)}" th:text="${item}" class="text-center">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab End -->
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                        <h3 class="title">类案推荐</h3>
                        <div class="accordionMod panel-group">
                            <div th:each="item:${caseRecommendation}" class="accordion-item">
                                <h4 class="accordion-toggle" th:text="${item.getName()}"></h4>
                                <section class="accordion-inner panel-body">
                                    <a th:text="'http://caseRecommendation.org:8080/case/' + ${item.getId()}" th:href="'/case/' + ${item.getId()}"
                                       style="display: block" target="_blank"></a>
                                </section>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                        <h3 class="title">相似案件引用法条分布</h3>
                        <div id="chart" style="width: 750px;height:500px;"></div>
                        <script type="text/javascript" th:inline="javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('chart'))
                            var lawData = [[${lawDistribution}]]
                            console.log(lawData)
                            var nameList = []
                            var detailList = []
                            var pieList = []
                            var typeList = []
                            var former = ""
                            var total = 0
                            for (x in lawData)
                            {
                                var law = lawData[x]
                                nameList.push(law["name"].substr(7,law["name"].length))
                                detailList.push(law["detail"])
                                pieList.push({value:law["num"],name:"第"+law["detail"]+"条"})
                                if(x==0){
                                    former = law["name"]
                                    total = law["num"]
                                }
                                if(former===law["name"]) {
                                    total += law["num"];
                                }
                                else{
                                    typeList.push({value:total,name:former.substr(7,former.length)})
                                    former = law["name"]
                                    total = law["num"]
                                }
                            }
                            typeList.push({value:total,name:former.substr(7,former.length),selected:true})
                            console.log(typeList)
                            console.log(nameList)

                            option = {
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                                },
                                legend: {
                                    orient: 'vertical',
                                    x: 'left',
                                    data:nameList
                                },
                                series: [
                                    {
                                        name:'法律',
                                        type:'pie',
                                        selectedMode: 'single',
                                        radius: [0, '30%'],

                                        label: {
                                            normal: {
                                                position: 'inner'
                                            }
                                        },
                                        labelLine: {
                                            normal: {
                                                show: false
                                            }
                                        },
                                        data:typeList
                                    },
                                    {
                                        name:'法条',
                                        type:'pie',
                                        radius: ['40%', '55%'],

                                        data:pieList
                                    }
                                ]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option)
                        </script>
                    </div>
                </div>
                <!--<div class="divider"></div>-->
                <!-- End Second Row -->
            </div>
        </div>
        <!-- Content End -->
    </div>
    <!-- Main Content end-->
    <!-- Footer -->
    <footer th:replace="/components/components :: footer"></footer>
    <!-- Scroll To Top -->
    <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
</div>
<!-- Wrap End -->
<section th:replace="/components/components :: style-switcher"></section>
<!-- The Scripts -->
<script th:src="@{/js/circularnav.js}" type="text/javascript"></script>
<script th:src="@{/js/custom.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".nav li a:contains('法案')").attr("id","current");
    });
</script>
</body>
<body th:if="not ${sucess}">
    上传失败：空文件！
</body>
</html>