<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/components :: head">
</head>
<head>
    <title>文书信息</title>
    <script th:src="@{/js/echarts.min.js}" type="text/javascript"></script>
    <!--<link th:href="@{css/colors/blue.css}" rel="stylesheet" id="colors"/>-->
</head>
<body class="shortcodes">
<script>
    function isMobileBrowser() {
        let sUserAgent = navigator.userAgent.toLowerCase();
        let bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        let bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        let bIsMidp = sUserAgent.match(/midp/i) == "midp";
        let bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        let bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        let bIsAndroid = sUserAgent.match(/android/i) == "android";
        let bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        let bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        return (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM)
    }

    function browserRedirect() {
        if (!isMobileBrowser()) {
            $(".tabs li").css("font-size", "85%");
        }
    }
    browserRedirect();
</script>
<div class="wrap">
    <!-- Header -->
    <header th:replace="components/components :: header"/>
    <!-- Content Start -->
    <div id="main">
        <!--&lt;!&ndash; Title, Breadcrumb Start&ndash;&gt;-->
        <!--<div class="breadcrumb-wrapper">-->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">-->
        <!--<h2 class="title">法案信息提取</h2>-->
        <!--</div>-->
        <!--<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">-->
        <!--<div class="breadcrumbs pull-right">-->
        <!--<ul>-->
        <!--<li>当前路径:</li>-->
        <!--<li>-->
        <!--<a href="/">主页</a>-->
        <!--</li>-->
        <!--<li><a href="#">法案</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!-- Title, Breadcrumb End-->
        <!-- Main Content start-->
        <div class="content">
            <div class="container">

                <!--tap here-->

                <div class="row">
                    <div class="col-lg-12 col-md-6 col-xs-12 col-sm-6 ">
                        <!-- Tab Start -->
                        <h3 class="title">案件信息</h3>
                        <div class="widget tabs">
                            <div id="horizontal-tabs">
                                <ul class="tabs">
                                    <li th:each="name:${content.keySet()}"
                                        th:id="'tab'+${name}" th:text="${name}">
                                    </li>
                                </ul>
                                <div class="contents" style="max-height:400px; min-height:200px; overflow:auto">
                                    <div th:each="name:${content.keySet()}"
                                         th:id="'content'+${name}"
                                         class="tabscontent">
                                        <div th:if="${content.get(name).getClass() eq name.getClass()}">
                                            <!--&lt;即小于，小于15个字的文本居中显示-->
                                            <p th:each='line:${content.get(name).split("\n")}' th:text="${line}"
                                               th:class="${line.replaceAll(' ', '').length() &lt; 20}? 'text-center' : 'text-left'">
                                            </p>
                                        </div>
                                        <div th:if="${content.get(name).getClass() ne name.getClass()}">
                                            <div th:each="subName:${content.get(name).keySet()}">
                                                <div th:with="subContent=${content.get(name).get(subName)}">
                                                    <div th:if="${subContent.getClass() eq subName.getClass()}">
                                                        <label data-placement="left" th:text="${subName}+'：'"></label>
                                                        <a th:if="${subContent.contains('@')}" type="button"
                                                           class="btn btn-link"
                                                           th:data="${subName}"
                                                           data-toggle="tooltip"
                                                           data-placement="right" data-html="true"
                                                           style="font-size: 14px"
                                                           title="点击获得详细信息" onclick="getMemberInfo(this)"
                                                           th:text="${subContent.substring(0,subContent.length()-1)}">
                                                        </a>
                                                        <label th:if="${!subContent.contains('@')}" class="font-normal"
                                                               data-placement="left"
                                                               style="padding: 6px 12px"
                                                               th:text="${subContent}">
                                                        </label>
                                                    </div>
                                                    <div th:if="${subContent.getClass() ne subName.getClass()}">
                                                        <label data-placement="left" th:text="${subName}+'：'"></label>
                                                        <a th:each="memberName:${subContent}" type="button"
                                                           class="btn btn-link"
                                                           th:data="${subName}"
                                                           data-toggle="tooltip"
                                                           data-placement="top" data-html="true"
                                                           style="font-size: 14px"
                                                           th:text="${memberName.substring(0,memberName.length()-1)}"
                                                           title="点击获得详细信息">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            $(".btn.btn-link").hover(function () {
                                                $(this).css({"color": "black"});
                                            }, function () {
                                                $(this).css({"color": "#337ab7"});
                                            })

                                            function getMemberInfo(element) {
                                                let memberName = $(element).attr("data") + '/' + $(element).text()
                                                $.ajax({
                                                    url: '/getMemberInfo',
                                                    type: 'get',
                                                    data: {'memberName': memberName},
                                                    dataType: 'text',
                                                    success: setInfo,
                                                    error: errorInfo
                                                })
                                                function setInfo(data) {
                                                    console.log("data:" + data);
                                                    element.title = data
                                                }

                                                function errorInfo() {
                                                    element.title = "网络异常！"
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab End -->
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                        <h3 class="title">类案推荐</h3>
                        <div class="accordionMod panel-group">
                            <div th:each="item:${caseRecommendation}" class="accordion-item">
                                <h4 class="accordion-toggle" th:text="${item.getName()}"></h4>
                                <section class="accordion-inner panel-body">
                                    <div th:with="lawList=${item.getList()}">
                                        <p th:each="law:${lawList}" th:text="${law.getName().substring(7,law.getName().length())+law.getDetail()}"></p>
                                    </div>
                                    <a th:href="'/case/' + ${item.getId()}"
                                       style="display: block" target="_blank">了解更多<i class="icon-angle-right"></i><i
                                            class="icon-angle-right"></i>
                                    </a>
                                </section>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <h3 class="title">相似案件引用法条分布</h3>
                        <div id="chart" style="width: 750px;height:500px;"></div>
                        <script type="text/javascript" th:inline="javascript">
                            // 基于准备好的dom，初始化echarts实例
                            let myChartDom = document.getElementById('chart')
                            //自适应宽高
                            function myChartPC() {
                                myChartDom.style.width = $(window).width() / 2 + 'px';
                                myChartDom.style.height = $(window).height() / 3 * 2 + 'px';
                            };
                            function myChartMobile() {
                                myChartDom.style.width = $(window).width() + 'px';
                                myChartDom.style.height = $(window).height() / 9 * 5 + 'px';
                            }
                            function myChartContainer() {
                                if (isMobileBrowser()) {
                                    myChartMobile()
                                }
                                else {
                                    myChartPC()
                                }
                            }
                            myChartContainer()
                            let myChart = echarts.init(myChartDom);
                            let lawData = [[${lawDistribution}]]
                            console.log([[${content}]])
                            console.log([[${lawDistribution}]])
                            console.log([[${caseRecommendation}]])
                            let nameList = []
                            let detailList = []
                            let pieList = []
                            let typeList = []
                            let former = ""
                            let total = 0
                            for (x in lawData) {
                                let law = lawData[x]
                                nameList.push(law["name"].substr(7, law["name"].length))
                                detailList.push(law["detail"])
                                pieList.push({value: law["num"], name: law["detail"]})
                                if (x == 0) {
                                    former = law["name"]
                                    total = law["num"]
                                }
                                if (former === law["name"]) {
                                    total += law["num"];
                                }
                                else {
                                    typeList.push({value: total, name: former.substr(7, former.length)})
                                    former = law["name"]
                                    total = law["num"]
                                }
                            }
                            typeList.push({value: total, name: former.substr(7, former.length), selected: true})

                            option = {
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{b}: {c} ({d}%)"
                                },
                                legend: {
                                    orient: 'vertical',
                                    x: 'left',
                                    data: nameList
                                },
                                textStyle: {
                                    fontSize: 10
                                },
                                series: [
                                    {
                                        name: '法律',
                                        type: 'pie',
                                        selectedMode: 'single',
                                        radius: [0, '28%'],

                                        label: {
                                            normal: {
                                                position: 'inner'
                                            }
                                        },
                                        labelLine: {
                                            normal: {
                                                show: false
                                            }
                                        },
                                        data: typeList
                                    },
                                    {
                                        name: '法条',
                                        type: 'pie',
                                        radius: ['40%', '50%'],

                                        label: {
                                            normal: {
                                                textStyle: {
                                                    fontSize: 8
                                                }
                                            }
                                        },

                                        labelLine: {
                                            normal: {
                                                show: true,
                                                length: 6
                                            },
                                        },
                                        data: pieList

                                    }
                                ]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option)
                            //浏览器大小改变时重置大小
                            window.onresize = function () {
                                myChartContainer();
                                myChart.resize();
                            };
                            //                            window.onresize = myChart
                        </script>
                    </div>
                </div>
                <!--<div class="divider"></div>-->
                <!-- End Second Row -->
            </div>
        </div>
        <!-- Content End -->
    </div>
    <!-- Main Content end-->
    <!-- Footer -->
    <footer th:replace="components/components :: footer"></footer>
    <div th:replace="components/components :: message"></div>
    <!-- Scroll To Top -->
    <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
</div>
<!-- Wrap End -->
<section th:replace="components/components :: style-switcher"></section>
<!-- The Scripts -->
<script th:src="@{/js/circularnav.js}" type="text/javascript"></script>
<script th:src="@{/js/custom.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".nav li a:contains('法案')").attr("id", "current");
    });
</script>
<script type="text/javascript">
    $(".tabs li:contains('文书基本信息')").attr("class", "current")
    $(".contents div[id='content文书基本信息']").attr("style", "display: block")
</script>
<!--<script type="text/javascript">-->
<!--$("div#chart").width($(window).width / 2)-->
<!--$("div#chart").height($(window).height / 2)-->
<!--console.log("width:" + $(window).width / 2)-->
<!--</script>-->
</body>

</html>