<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="singlePerson" type="freecoding.web.data.model.Person"*/-->
<!--/*@thymesVar id="people" type="java.util.List"*/-->
<head th:include="components/components :: head">
</head>
<head>
    <title>Person</title>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">访问model</h3>
    </div>
    <div class="panel-body">
        <span th:text="${singlePerson.name}"></span>
    </div>
    <div th:if="${not #lists.isEmpty(people)}">
        <div class="panel panel-primary">
            <h3 class="panel-title">列表</h3>
        </div>
        <div class="panel-body">
            <ul class="panel-group">
                <li class="list-group-item" th:each="person:${people}">
                    <!--/*@thymesVar id="person" type="freecoding.web.data.model.Person"*/-->
                    <span th:text="${person.name}"></span>
                    <span th:text="${person.age}"></span>
                    <button class="btn" th:onclick="'getName(\''+${person.name}+'\')'">获得名字</button>
                </li>
            </ul>
        </div>

    </div>
</div>
<footer th:replace="components/components :: footer"></footer>
<script th:inline="javascript">
    var single=[[${singlePerson}]];
    console.log(single.name+"/"+single.age);
    function getName(name) {

        console.log(name);

    }
</script>
</body>
</html>